.side-bar {
  position: fixed;
  top: 55px;
  left: 0;
  width: 72px;
  background-color: white;
  z-index: 200;
  padding-top: 5px;
}

.side-bar-icon {
  height: 72px;
}

.side-bar-icon:hover {
  background-color: rgb(236, 233, 233);
  cursor: pointer;
}

.side-bar-icon{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.side-bar-icon div{
  font-size: 10px;
}
.side-bar-icon img {
  height: 25px;
  margin-bottom: 6px;
}